<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <title>Order History</title>
    <style>
        table {
            font-size: 14px;
        }

        table tr {
            border-bottom: 0.1em #e6e6e6 solid;
        }

        table th{
            background-color: #F6F6F6;
            color: #1C1C1C;
        }

        input:enabled {
            cursor: text;
        }

        input:hover:enabled {
            border: 1px #1C1C1C solid;
        }

        input:focus {
            border: 1px solid #1C1C1C !important;
        }

        .form-control:disabled {
            background: #F9F9F9;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container offset-2 col-8">
        <div class="row justify-content-center pb-5">
            <h4>주문내역</h4>
        </div>
        <div class="row justify-content-end">
                <span class="pr-3 pb-3" style="font-size: 16px;color: #1C1C1C">
                    전체 <b>[[${orderDetails.size()}]]</b>건
                </span>
        </div>
        <div class="row justify-content-center">
            <table class="table table-borderless" style="border-top: 0.2em #1C1C1C solid;">
                <thead>
                <tr class="text-center">
                    <th style="width: 60%">상품정보</th>
                    <th style="width: 10%">수량</th>
                    <th>주문금액</th>
                    <th>주문상태</th>
                </tr>
                </thead>
                <tbody th:if="${orderDetails.size()} <= 0">
                    <tr>
                        <td class="text-center font-weight-bold" colspan="4">
                            <span>구매하신 내역이 없습니다.</span>
                        </td>
                    </tr>
                </tbody>
                <tbody class="align-middle text-center" th:each="list, i : ${orderDetails}">
                    <tr class="text-center">
                        <td class="text-left" colspan="2" >
                            <span style="font-size: 14px;color: #1C1C1C"><b>주문번호</b> : </span><span th:text="${list.getId()}"></span>
                            <span style="font-size: 14px;color: #1C1C1C" class="ml-4" th:text="${'주문일 : ' + #temporals.format(list.getOrderDate(), 'yy-MM-dd')}"></span>
                        </td>
                        <td>
                            <span style="font-size: 14px;color: #1C1C1C" th:text="${#numbers.formatInteger(list.totalPrice, 3, 'COMMA') + '원'}"></span>
                        </td>
                        <td>
                            <span style="font-size: 14px;color: #1C1C1C" th:text="${list.status.getKrName()}"></span>
                        </td>
                    </tr>
                    <tr class="align-middle" th:each="product, i : ${list.getOrderProduct()}">
                        <td class="d-flex">
                            <div class="align-self-center" style="">
                                <img th:src="@{'/upload/'+${product.getProductInfo().getProduct().thumbnail}}" style="width: 100px;" alt="Image">
                            </div>
                            <div class="ml-3 align-self-center">
                                <h6 th:text="${product.getProductInfo().getProduct().getName()}"></h6>
                                <p class="mb-2" th:text="${product.getProductInfo().getColor()} + '/' + ${product.getProductInfo().getSize()}"></p>
                                <p class="mb-0" th:text="${#numbers.formatInteger(product.getPrice(), 3, 'COMMA') + '원'}"></p>
                            </div>
                        </td>
                        <td class="align-middle">
                            <span style="font-size: 14px;color: #1C1C1C" class="quantity mx-auto text-center" th:text="${product.getAmount() + ' 개'}"></span>
                        </td>
                        <td class="align-middle">
                            <span style="font-size: 14px;color: #1C1C1C" th:text="${#numbers.formatInteger(product.order.totalPrice, 3, 'COMMA') + '원'}"></span>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/order/details.js}"></script>
</th:block>
</body>
</html>