server:
  port: 8088

spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/arbanware
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 50MB

  messages:
    basename: message,errors


logging:
  level:
    org.hibernate.SQL: debug

arbanWare:
  upload:
    url: /upload/