<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default_layout}">

<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 th:text="${noticeDetail.getTitle()}" class="font-weight-semi-bold text-uppercase mb-3"></h1>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div>
                    <p th:text="${noticeDetail.getContent()}"></p>
                </div>
                <div>
                    <button sec:authorize="hasRole('ADMIN')" class="btn btn-primary py-2 px-4 mr-2" type="button" id="update">수정</button>
                    <button sec:authorize="hasRole('ADMIN')" class="btn btn-primary py-2 px-4 mr-2" type="button" id="delete">삭제</button>
                    <button class="btn btn-primary py-2 px-4" type="button" id="listBtn">목록</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">

        // let token = "${_csrf.token}";

        let id = [[${noticeDetail.id}]];
    </script>
    <script th:src="@{/js/notice/detail.js}"></script>
</th:block>
</body>
</html>