<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<th:block layout:fragment="script">
        <script th:src="@{/js/notice/list.js}"></script>
</th:block>
<body>
<div layout:fragment="content">
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">공지사항</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-1">번호</th>
                        <th class="col-7">제목</th>
                        <th class="col-2">작성자</th>
                        <th class="col">작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="list, i : ${noticeList}">
                        <td th:text="${i.index}"></td>
                        <td><a th:text="${list.getTitle()}" th:href="@{/notice/{id} (id=${list.getId()})}"></a></p></td>
                        <td th:text="${list.getRegistrant()}"></td>
                        <td th:text="${list.getRegistrationTime()}"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary py-3 px-5" id="registrationBtn">등록</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>