<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footerFragment">
        <!-- Footer Start -->
        <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-7 col-md-12 mb-5 pr-3 pr-xl-5">
                    <a href="/" class="text-decoration-none">
                        <h1 class="mb-4 display-5 font-weight-semi-bold">ArbanWare</h1>
                    </a>
                    <h3 class="mb-3">0000-0000</h3>
                    <p class="mb-4" style="font-size: 14px;color: #555555">평일 AM 09:00 - PM 05:00 / 점심 PM 12:00 - PM 01:00 / 토요일, 일요일, 공휴일 휴무</p>
                    <p style="font-size: 14px;color: #555555">(주)어반웨어사업부　대표이사 : 안하용, 이승연　사업자등록번호 : 000-00-00000</p>
                    <p style="font-size: 14px;color: #555555">주소 : 대전광역시 서구 중앙로45번길 00</p>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">ABOUT US</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="mb-2" href="#" style="color: #999999">브랜드 소개</a>
                                <a class="mb-2" href="#" style="color: #999999">매장 정보</a>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">SUPPORT</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="mb-2" href="/notice" style="color: #999999">공지사항</a>
                                <a class="mb-2" href="#" style="color: #999999">자주 묻는 질문 FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top border-light mx-xl-5 py-4">
                <div class="col-md-8 px-xl-0">
                    <p class="mb-md-0 text-md-left" style="font-size: 13px; color: #555555">
                        COPYRIGHT by <a class="text-dark font-weight-semi-bold" href="/">ArbanWare</a> All RIGHT RESERVED
                    </p>
                    <p style="font-size: 12px; color: #555555">
                        본 사이트 내 모든 이미지 및 컨텐츠 등은 저작권법 제 4조의 의한 저작물로써 소유권은 ㈜이랜드월드패션사업부 에게 있으며, 무단 도용 시 법적인 제재를 받을 수 있습니다.
                    </p>
                </div>
                <div class="col-md-4 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="/img/payments.png" alt="">
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Contact Javascript File -->
<!--        <script src="/mail/jqBootstrapValidation.min.js"></script>-->
<!--        <script src="/mail/contact.js"></script>-->

        <!-- Template Javascript -->
<!--        <script src="/js/main.js"></script>-->

        <!-- 스윗알럿 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    </div>
</html>