<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
  <title>Change Password</title>
  <style>
    label{
      color: #1C1C1C;
      font-size: 13px;
    }

    input:enabled {
      cursor: text;
    }

    input:hover:enabled {
      border: 1px #1C1C1C solid;
    }

    input:focus {
      border: 1px solid #1C1C1C !important;
    }

    input::placeholder {
      font-size: 14px;
    }

    button:hover {
      border: 1px #1C1C1C solid;
    }

    .btnCustom {
      font-size: 12px;
      border: #BCBCBC solid 1px;
      height: 40px;
      width: 90px;
      color: #1C1C1C;
      background-color: white;
      cursor: pointer;
    }

    .error {
      color: red;
      font-size: 12px;
    }
  </style>
</head>
<body>

<div layout:fragment="content">
  <div class="container offset-3 col-6">
    <div class="row justify-content-center pb-4">
      <h4>비밀번호 변경</h4>
    </div>
    <div style="border: 1px solid #e6e6e6;" class="container pb-5 mb-5">
      <div class="row mt-5 pt-4 pb-5">
        <div class="offset-3 col-7 text-left mt-4 container-fluid">
          <div id="email_disp" style="display: none">
            <div class="row">
              <label class="font-weight-semi-bold d-block">이메일</label>
            </div>
            <div class="row">
              <div class="d-inline-block" style="width: 70%">
                <input type="text" style="height: 40px" class="form-control" th:field="${member.email}" disabled />
              </div>
              <div class="d-inline-block ml-2">
                <button type="button" id="sendEmail" style="width: 120px"
                        class="btnCustom py-6 font-weight-semi-bold">인증번호 받기</button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="d-inline-block" style="width: 55%">
                <input type="text" style="height: 40px" class="form-control d-inline-block"
                       id="emailAuthInput" placeholder="인증번호를 입력해주세요" required disabled >
              </div>
              <div class="d-inline-block ml-2 align-self-center">
                <button type="button" id="emailCheck" style="display: none"
                        class="btnCustom py-6 font-weight-semi-bold">인증 확인</button>
                <span id="emailAuthSuccess" style="color: #288CFF; font-size: 12px; display: none">인증되었습니다.</span>
              </div>
            </div>
            <div id="emailAuthErrorDisp" class="row" style="display: none">
              <span id="emailAuthErrorMsg" class="error ml-1"></span>
            </div>
          </div>
          <div id="phone_disp" >
            <div class="row">
              <label class="font-weight-semi-bold d-block">휴대전화</label>
            </div>
            <div class="row">
              <div class="d-inline-block" style="width: 70%">
                <input type="text" style="height: 40px" class="form-control" th:field="${member.phoneNumber}" disabled />
              </div>
              <div class="d-inline-block ml-2">
                <button type="button" id="sendSms" style="width: 120px"
                        class="btnCustom py-6 font-weight-semi-bold">인증번호 받기</button>
              </div>
            </div>
            <div class="row mt-3">
              <div class="d-inline-block" style="width: 55%">
                <input type="text" style="height: 40px" class="form-control d-inline-block"
                       id="phoneAuthInput" placeholder="인증번호를 입력해주세요" required disabled >
              </div>
              <div class="d-inline-block ml-2 align-self-center">
                <button type="button" id="phoneCheck" style="display: none"
                        class="btnCustom py-6 font-weight-semi-bold">인증 확인</button>
                <span id="phoneAuthSuccess" style="color: #288CFF; font-size: 12px; display: none">인증되었습니다.</span>
              </div>
            </div>
            <div id="phoneAuthErrorDisp" class="row" style="display: none">
              <span id="phoneAuthErrorMsg" class="error ml-1"></span>
            </div>
          </div>

          <form id="changePasswordForm" action="/changePassword" method="post"  th:object="${member}">
            <div class="row mt-4">
              <label class="font-weight-semi-bold d-block">새 비밀번호</label>
            </div>
            <div class="row">
              <div class="d-inline-block inputGroup" style="width: 55%">
                  <input type="hidden" th:field="${member.id}">
                  <input type="password" style="height: 40px" class="form-control d-inline-block"
                         th:field="${member.loginPassword}" placeholder="비밀번호" required autocomplete="off">
              </div>
              <div class="d-inline-block align-self-center ml-2">
                <span class="d-inline-block" style="font-size: 12px">(영문 대소문자/숫자 조합, 8자~16자)</span>
              </div>
              <div id="loginPasswordErrorDisp" class="ml-1" style="display: none">
                <span class="error">비밀번호는 영문과 숫자를 조합하고 8자~16자 사이로 입력해주세요.</span>
              </div>
            </div>
            <div class="row mt-4">
              <label class="font-weight-semi-bold d-block">새 비밀번호 확인</label>
            </div>
            <div class="row">
              <div class="inputGroup" style="width: 55%">
                <input type="password" style="height: 40px" class="form-control d-inline-block"
                       id="loginPasswordCheck" placeholder="비밀번호" required autocomplete="off">
              </div>
            </div>
            <div class="row">
              <div class="align-self-center ml-1" id="loginPasswordCheckErrorDisp" style="display: none">
                <span class="d-inline-block error" style="font-size: 12px">비밀번호가 일치하지 않습니다.</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button id="cancel_btn" type="button" class="btnCustom btn-sm font-weight-semi-bold mx-2"
              style="font-size: 13px; height: 30px">취소</button>
      <button id="submitBtn" type="button" class="btn btn-primary btn-sm font-weight-semi-bold px-4" style="font-size: 13px;">비밀번호 변경</button>
    </div>
  </div>
</div>
<th:block layout:fragment="script">
  <script th:inline="javascript">
    const type = [[${type}]];
  </script>
  <script th:src="@{/js/login/change_password.js}"></script>
</th:block>
</body>
</html>
