<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head>
    <title>Products</title>
    <style>
        .btnCustom {
            font-size: 12px;
            border: #BCBCBC solid 1px;
            height: 40px;
            width: 90px;
            color: #1C1C1C;
            background-color: white;
            cursor: pointer;
        }

        .color {
            position: relative;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: white 3px solid;
            outline: #e6e6e6 solid 2px;
        }

        .color.active {
            outline: black solid 2px;
        }

        .product-color {
            position: relative;
            width: 15px !important;
            height: 15px !important;
            border: 1px solid #e3e3e3;
        }

        .bdr {
            border-top: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
        }

        .inputGroup {
            width: 30%;
        }

        input:enabled {
            cursor: text;
        }

        input:hover:enabled {
            border: 1px #1C1C1C solid;
        }

        input:focus {
            border: 1px solid #1C1C1C !important;
        }

        .product-item:hover img{
            opacity: 0.8;
        }

        .under-line:hover{
            text-decoration:underline;
        }

        .error {
            color: red;
            font-size: 13px;
        }

    </style>
</head>
<body>

<div layout:fragment="content">
    <!-- Shop Start -->
    <div class="container-fluid">
        <form id="searchForm" method="get" action="/products" th:object="${condition}">
            <input type="hidden" th:field="${condition.name}">
            <div class="row px-xl-5">
                <!-- Shop Sidebar Start -->
                <div class="col-lg-2 col-md-12">
                    <!-- Color Start -->
                    <div class="border-bottom mb-4 pb-5 pt-4">
                        <h5 class="font-weight-semi-bold mb-4">색상</h5>
                        <div class="mr-2 mt-2 mb-1 btn-group-toggle d-inline-block" data-toggle="buttons" th:each="color : ${colorValues}">
                            <label class="btn btn-sm text-center color" th:for="${#ids.next('colors')}" th:attr="data-color=${color}" th:title="${color}">
                                <input type="checkbox" th:field="${condition.colors}" class="size" th:value="${color}" autocomplete="off">&nbsp;
                            </label>
                        </div>
                    </div>
                    <!-- Color End -->
                    <!-- Price Start -->
                    <div class="border-bottom mb-4 pb-5">
                        <h5 class="font-weight-semi-bold mb-4">가격</h5>
                        <div class="w-100 text-center bdr">
                            <button type="button" class="btn conditionPrice" data-min-price="0" data-max-price="59900">~ 59,900</button>
                        </div>
                        <div class="w-100 text-center bdr">
                            <button id="price2" type="button" class="btn conditionPrice" data-min-price="59900" data-max-price="99000">59,900 ~ 99,000</button>
                        </div>
                        <div class="w-100 text-center bdr">
                            <button id="price3" type="button" class="btn conditionPrice" data-min-price="99000" data-max-price="159000">99,000 ~ 159,000</button>
                        </div>
                        <div class="w-100 text-center bdr" style="border-bottom: #e6e6e6 1px solid">
                            <button id="price4" type="button" class="btn conditionPrice" data-min-price="159000">159,000 ~</button>
                        </div>
                        <div class="w-100 mt-3">
                            <input type="text" class="form-control d-inline-block inputGroup" th:field="${condition.minPrice}" style="height: 35px"/>
                             &nbsp;~&nbsp;
                            <input type="text" class="form-control d-inline-block inputGroup" th:field="${condition.maxPrice}" style="height: 35px"/>
                            <button id="priceSearch" type="button" class="btn btn-outline-primary" style="float:right;font-size: 14px">검색</button>
                        </div>
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <span class="error" th:text="${#fields.globalErrors().get(0)}">></span>
                        </div>
                    </div>
                    <!-- Price End -->
                    <!-- Size Start -->
                    <div class="mb-5"><div></div>
                        <h5 class="font-weight-semi-bold mb-4">사이즈</h5>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-1"
                                th:each="size : ${sizeValues}">
                                <input type="checkbox" class="custom-control-input" th:field="${condition.sizes}" th:value="${size}">
                                <label class="custom-control-label w-100 under-line" th:for="${#ids.prev('sizes')}" th:text="${size}">XS</label>
                            </div>
                    </div>
                    <!-- Size End -->
                </div>
                <!-- Shop Sidebar End -->


                <!-- Shop Product Start -->
                <div class="col-lg-10 col-md-12">
                    <div class="row pb-3">
                        <div class="col-12 pb-1">
                            <div class="d-flex align-items-center justify-content-end mb-4">
                                <div>
                                    <select class="custom-select" th:field="${condition.sortProperty}">
                                        <option selected value="registrationTime">신상품</option>
                                        <option value="">인기상품</option>
                                        <option value="">사용후기</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 pb-5" th:each="product : ${products}" th:unless="${products.isEmpty()}">
                            <div class="card product-item border-0 mb-4">
                                <div class="card-header position-relative overflow-hidden bg-transparent border-bottom-0 p-0">
                                    <a th:href="@{/products/{id}(id = ${product.productId})}" class="btn btn-sm text-dark p-0">
                                        <img class="img-fluid w-100" style="min-height: 500px; max-height: 500px" th:src="@{|/upload/${product.thumbnail}|}">
                                    </a>
                                </div>
                                <div class="card-body text-left pt-3 pl-0 pb-3">
                                    <a th:href="@{/products/{id}(id = ${product.productId})}" class="btn btn-sm text-dark p-0">
                                        <h6 class="text-truncate font-weight-normal mb-3" th:text="${product.name}" style="font-size: 17px">Colorful Stylish Shirt</h6>
                                    </a>
                                    <div class="d-flex justify-content-start">
                                        <h6 th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}" style="font-size: 20px">$123.00</h6>
                                        <h6 class="text-muted align-self-center ml-2">
                                            <del th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}" style="font-size: 18px">$123.00</del>
                                        </h6>
                                    </div>
                                    <div class="d-flex justify-content-start">
                                        <div th:each="productColor : ${product.colors}" class="product-color d-inline-block" style="margin-right: 0.1em"
                                              th:data-product-color="${productColor.color}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center pt-5" th:if="${products.isEmpty()}">
                            <img src="/img/info-icon.png" style="width: 60px">
                            <p class="font-weight-semi-bold pt-4 mb-1" style="color: #1C1C1C; font-size: 13px;">검색결과가 없습니다</p>
                            <p class="font-weight-semi-bold pt-1" style="color: #1C1C1C; font-size: 12px;">정확한 검색어 또는 조건인지 확인하시고 다시 검색해 주세요.</p>
                            <p class="mt-3" style="font-size: 12px">검색어/제외검색어의 입력이 정확한지 확인해 보세요.<br>
                                두 단어 이상의 검색어인 경우, 띄어쓰기를 확인해 보세요.</p>
                        </div>
                        <div class="col-12 pb-1">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center mb-3" th:classappend="${totalPage < 1 ? 'd-none' : ''}">
                                    <input type="hidden" th:field="${condition.page}">
                                    <input type="hidden" th:field="${condition.pageSize}">
                                    <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                                        <button type="button" class="page-link" aria-label="Previous" th:value="0">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">First</span>
                                        </button>
                                    </li>
                                    <li class="page-item" th:classappend="${!page.hasPrevious() ? 'disabled' : ''}">
                                        <button type="button" class="page-link" aria-label="Previous" th:value="${currentPage - 1}">
                                            <span aria-hidden="true">&lsaquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </button>
                                    </li>
                                    <li class="page-item" th:each="eachPage : ${#numbers.sequence(startPage, endPage)}"
                                        th:classappend="${currentPage == eachPage ? 'active' : ''}"
                                        ><button type="button" class="page-link" th:text="${eachPage+1}" th:value="${eachPage}"></button></li>
                                    <li class="page-item" th:classappend="${!page.hasNext()} ? 'disabled' : ''">
                                        <button type="button" class="page-link" aria-label="Next" th:value="${currentPage + 1}">
                                            <span aria-hidden="true">&rsaquo;</span>
                                            <span class="sr-only">Next</span>
                                        </button>
                                    </li>
                                    <li class="page-item" th:classappend="${page.isLast()} ? 'disabled' : ''">
                                        <button type="button" class="page-link" aria-label="Next" th:value="${currentPage + 1}">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Last</span>
                                        </button>
                                    </li>
                                </ul>
                                <div class="flex-fill" style="float: right">
                                    <a href="/products/new" class="btn btn-primary" style="font-size: 14px">상품 추가</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Shop Product End -->
            </div>
        </form>
    </div>
    <!-- Shop End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
</div>
<th:block layout:fragment="script">
    <script th:inlien="javascript">
        let deleteProduct = [[${deleteProduct}]];
        if (deleteProduct) {
            Swal.fire({
                html: '<b>삭제되었습니다.</b>',
                icon : 'success'
            })
        }
    </script>
    <script th:src="@{/js/product/products.js}"></script>
</th:block>
</body>
</html>